*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#loading {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 6px solid black;
    display: none;
    animation: loader 1s infinite linear;
}
@keyframes loader {
   from{
        transform: rotate(0);
    }
   to{
         transform: rotate(360deg);
     }    
   }
#mainbox{
    text-align: center;
    padding: 20px;
    background-color: rgba(173, 157, 157, 0.5);
}
#alert-success{
    color: green;
}
#alert-fail{
    color: red;
}
#veli{
    outline: none;
    border:1px solid blue;
    padding: 10px;
    margin: 10px;
}
#add{
    background-color: grey;
    border:2px solid rgba(0, 0, 0, 0);
    padding: 5px;
    transition: border-radius 1s, background-color 1s,color 1s
}
#add:hover{
    color: white;
    background-color: black;
    border-radius: 15px;
    border: 2px solid white
}
#list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding: 10px;
    /* visibility: hidden; */
    background-color: rgba(167, 151, 151, 0.5);
    border-radius: 15px;
}
#yuti{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
#yuti li{
    padding: 5px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.but{
    width: 16px;
    height: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
#edit{
    color:blue
}
#delete{
    color:red
}
.clearbtn{
    margin-top: 10px;
    border:2px solid rgba(0, 0, 0, 0);
    padding: 10px;
    background-color: grey;
    transition: border-radius 1s, background-color 1s,color 1s
}
.clearbtn:hover{
    border: 2px solid white;
    color: white;
    background-color: black;
    border-radius: 15px;
}
